---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

.map-container {
    overflow: hidden;
    // 16:9 aspect ratio
    padding-top: 56.25%;
    position: relative;
}
   
.map-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.map-container iframe.clicked{
	pointer-events: auto;
}